#nav {
    background-color: rgb(221, 144, 76);
}
#logo {
    font-family: 'Courier New', Courier, monospace;
}
body {
    background-color: orange;
}

footer {
    background-color: rgba(233, 193, 15, 0.945);
}

